# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Editor / OS
*.swp
*.swo
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# Database
*.sqlite3

# dotenv
.env

# Temporary
*.tmp
*.bak
